name: Release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [linux/amd64, linux/arm64]
    steps:
    - uses: actions/checkout@v3
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Get version
      id: version
      run: echo "version=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
    - name: Build Docker images
      run: |
        docker buildx build --platform ${{ matrix.platform }} -t neuroswarm/infra:latest --push .
        docker buildx build --platform ${{ matrix.platform }} -t neuroswarm/infra:${{ steps.version.outputs.version }} --push .
        docker buildx build --platform ${{ matrix.platform }} -t neuroswarm/infra:${{ github.event.release.tag_name }} --push .